<!DOCTYPE html>
<html lang="pt-br">
<head>

    <!-- ICONES -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="shortcut icon" href="imgs/icon_logo_astra-removebg-preview.png">

    <link rel="stylesheet" href="/dashboard.css">
    <script type="text/javascript" src="/app.js" defer></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard ASTRA</title>
</head>
<body>

<!-- CORPO SIDEBAR -->
<nav id="sidebar">
    <ul>
        <li>
            <img src="imgs/icon_logo_astra-removebg-preview.png" alt="" class="logo">
            <button onclick=toggleSidebar(this) id="toggle-btn">
                <i class="fa-solid fa-angles-left"></i>
            </button>
        </li>
        <li class="active">
            <button class="nav-btn" data-page="inicio">
                <i class="fa-solid fa-house"></i>
                <span>Início</span>
            </button>
        </li>
        <li>
            <button class="nav-btn" data-page="dashboard">
                <i class="fa-solid fa-grip"></i>
                <span>Dashboard</span>
            </button>
        </li>
        <li>
            <button onclick=toggleSubMenu(this) class="dropdown-btn">
                <!-- <i class="fa-solid fa-arrow-up"></i> -->
                <i class="fa-solid fa-folder-plus"></i>
                <span>Gerar</span>
                <i class="fa-solid fa-arrow-down"></i>
            </button>
            <ul class="sub-menu">
                <div>
                    <li><button class="nav-btn" data-page="fluxograma"> Fluxograma </button></li>
                    <li><button class="nav-btn" data-page="metodo"> Método de estudo </button></li>
                </div>

            </ul>
        </li>
        <li>
            <button class="nav-btn" data-page="perfil">
                <i class="fa-solid fa-user"></i>
                <span>Perfil</span>
            </button>
        </li>
    </ul>
</nav>

<!-- COPRO DASHBOARD -->
<main id="main-content">
    <div class="container-dashboard">
        <h2>Bem-vindo à ASTRA 🌟</h2>
        <p>Descubra seu estilo de estudo e explore maneiras personalizadas de aprender.</p>
    </div>
</main>

</body>
</html>